form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #1abc9c;
    border: none;
    color: #fff;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #1abc9c;
    color: #fff;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}